#socialgrid-admin {
    background: #000 url(../img/socialgrid-footer.png) bottom left no-repeat;
    width: 250px;
    height: 350px;
    position: relative;
}

    #socialgrid-header {
        height: 40px;
        background: url(../img/socialgrid-header.png) top left no-repeat;
    }
    
        #socialgrid-header h3 {
            display: none;
        }
        
        a.socialgrid-button {
            display: block;
            float: right;
            color: #EEE;
            font-size: 11px;
            font-weight: bold;
            background: url(../img/header-button.png) top right no-repeat;
            margin: 10px 15px 0 0;
            text-decoration: none;
            text-shadow: 0 1px 0 #000;
        }
        
            a.socialgrid-button span {
                display: block;
                height: 23px;
                line-height: 22px;
                background: url(../img/header-button.png) top left no-repeat;
                padding: 0 0 0 15px;
                margin-right: 15px;
            }
        
        a.socialgrid-button:hover {
            color: #FFF;
            cursor: pointer;
        }
        
            a.socialgrid-button:focus {
                color: #777;
                background-position: 100% -24px;
            }
            
            a.socialgrid-button:focus span {
                background-position: 0 -24px;
            }
        
        a.socialgrid-button.green span,
        a.socialgrid-button.red span {
            height: 22px;
            line-height: 22px;
        }
        
        a.socialgrid-button.green {
            background: url(../img/save-button.png) top right no-repeat;
        }
        
            a.socialgrid-button.green span {
                background: url(../img/save-button.png) top left no-repeat;
            }
        
        a.socialgrid-button.red {
            background: url(../img/cancel-button.png) top right no-repeat;
        }

            a.socialgrid-button.red span {
                background: url(../img/cancel-button.png) top left no-repeat;
            }
        
    div.socialgrid-pane {
        position: absolute;
        width: 250px;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    
        div.socialgrid-pane h3 {
            text-align: center;
            color: #EEE;
            margin-bottom: 0;
        }
        
        div.socialgrid-pane div.socialgrid-edit-header {
            margin-top: 1px;
            background-color: #202020;
            background-repeat: no-repeat;
            background-position: 10px center;
            padding: 10px 10px 10px 55px;
            color: #FFF;
        }
        
        div.socialgrid-edit-header.delicious { background-image: url(../img/icons/delicious.png); }
        div.socialgrid-edit-header.deviantart { background-image: url(../img/icons/deviantart.png); }
        div.socialgrid-edit-header.digg { background-image: url(../img/icons/digg.png); }
        div.socialgrid-edit-header.facebook { background-image: url(../img/icons/facebook.png); }
        div.socialgrid-edit-header.flickr { background-image: url(../img/icons/flickr.png); }
        div.socialgrid-edit-header.lastfm { background-image: url(../img/icons/lastfm.png); }
        div.socialgrid-edit-header.linkedin { background-image: url(../img/icons/linkedin.png); }
        div.socialgrid-edit-header.myspace { background-image: url(../img/icons/myspace.png); }
        div.socialgrid-edit-header.rss { background-image: url(../img/icons/rss.png); }
        div.socialgrid-edit-header.stumbleupon { background-image: url(../img/icons/stumbleupon.png); }
        div.socialgrid-edit-header.tumblr { background-image: url(../img/icons/tumblr.png); }
        div.socialgrid-edit-header.twitpic { background-image: url(../img/icons/twitpic.png); }
        div.socialgrid-edit-header.twitter { background-image: url(../img/icons/twitter.png); }
        div.socialgrid-edit-header.vimeo { background-image: url(../img/icons/vimeo.png); }
        div.socialgrid-edit-header.youtube { background-image: url(../img/icons/youtube.png); }
        
        div.socialgrid-edit-header span.socialgrid-service-name,
        div.socialgrid-edit-header span.socialgrid-service-meta {
            display: block;
        }
        
            div.socialgrid-edit-header span.socialgrid-service-name {
                font-size: 18px;
                font-weight: bold;
            }
            
            div.socialgrid-edit-header span.socialgrid-service-meta {
                font-size: 12px;
                color: #CCC;
            }
            
            div.socialgrid-edit-header span.socialgrid-username-replace {
                color: #FFF;
                font-weight: bold;
            }
        
        div.socialgrid-edit-content {
            padding: 0 10px 10px 55px;
            color: #FFF;
        }
        
            div.socialgrid-edit-content p {
                font-size: 11px;
            }
        
        div.socialgrid-service-footer {
            position: absolute;
            bottom: 20px;
            width: 210px;
        }
    
    ul.socialgrid-items {
        margin-left: -10px;
        padding: 15px 25px 40px 25px;
    }
    
    ul.socialgrid-items:after {
        content: ".";
        visibility: hidden;
        height: 0;
        display: block;
        clear: both;
    }
        
    ul.socialgrid-items li.socialgrid-item,
    ul.socialgrid-items li.socialgrid-item-add {
        width: 32px;
        height: 32px;
        margin: 0 0 10px 10px;
        display: block;
        text-indent: -9999em;
        float: left;
    }
    
    ul.socialgrid-items li.delicious { background-image: url(../img/icons/delicious.png); }
    ul.socialgrid-items li.deviantart { background-image: url(../img/icons/deviantart.png); }
    ul.socialgrid-items li.digg { background-image: url(../img/icons/digg.png); }
    ul.socialgrid-items li.facebook { background-image: url(../img/icons/facebook.png); }
    ul.socialgrid-items li.flickr { background-image: url(../img/icons/flickr.png); }
    ul.socialgrid-items li.lastfm { background-image: url(../img/icons/lastfm.png); }
    ul.socialgrid-items li.linkedin { background-image: url(../img/icons/linkedin.png); }
    ul.socialgrid-items li.myspace { background-image: url(../img/icons/myspace.png); }
    ul.socialgrid-items li.rss { background-image: url(../img/icons/rss.png); }
    ul.socialgrid-items li.stumbleupon { background-image: url(../img/icons/stumbleupon.png); }
    ul.socialgrid-items li.tumblr { background-image: url(../img/icons/tumblr.png); }
    ul.socialgrid-items li.twitpic { background-image: url(../img/icons/twitpic.png); }
    ul.socialgrid-items li.twitter { background-image: url(../img/icons/twitter.png); }
    ul.socialgrid-items li.vimeo { background-image: url(../img/icons/vimeo.png); }
    ul.socialgrid-items li.youtube { background-image: url(../img/icons/youtube.png); }

    ul.socialgrid-items li.socialgrid-item-add { background-image: url(../img/add_service_icon.png); }
    ul.socialgrid-items li.socialgrid-item-add:hover { background-position: -32px 0; cursor: pointer; }